a:link {
    background-color: #4CAF50;
    color: #fff;
    padding: 16px;
    font-size: 25px;
    border: none;
    text-decoration: none;
}

a:hover {
    text-shadow: hsl(0, 0%, 100%) 0 0 5px;
}

a:visited {
    background-color: #4CAF50;
    color: #fff;
    padding: 16px;
    font-size: 25px;
    border: none;
    text-decoration: none;
}