<ul class="menu-container">
  <li>
    <a [routerLink]="['../home']"><img src='{{menu.logo}}' alt="SEIS-622: Northern Streetwear" class="logo" /></a>
  </li>  
  <li class="dropdown-menu">
    <dropdown-menu></dropdown-menu>
  </li>
  <li class="search-box" *ngIf="menu.searchBox">
    <menu-search></menu-search>
  </li>
  <li class="signin">
    <div *ngIf="menu.userSignIn; else loggedIn"><a [routerLink]="['../login']">Sign In</a></div>
    <ng-template #loggedIn><a [routerLink]="['../myaccount']"><img src="assets/images/green_user_icon.png" class="userIcon" alt="User logged in" /></a></ng-template>
  </li>
  <li class="cart-image" *ngIf="menu.cart">
    <button class="cart-button"><img src="assets/images/cart.png" alt="View Your Cart" class="cart"></button>
  </li>
  <li class="contact">
    <a href={{menu.contact}}>Contact Us</a>
  </li>
</ul> 