<ul class="menu-container">
  <li>
    <a [routerLink]="['app-new-arrival']"><img src='{{menu.logo}}' alt="SEIS-622: Northern Streetwear" class="logo" /></a>
  </li>  
  <li class="dropdown-menu">
    <dropdown-menu></dropdown-menu>
  </li>
  <li class="search-box" *ngIf="menu.searchBox">
    <menu-search></menu-search>
  </li>
  <li class="signin">
    <a *ngIf="!loggedIn" [routerLink]="['login']">Sign In / Up</a>

    <a *ngIf="loggedIn" [routerLink]="['/protected/myaccount']" (click)="clickIcon()" >
      <img src="assets/images/green_user_icon.png" class="userIcon" alt="My Account" />
    </a>
  </li>
  <li class="cart-image" *ngIf="menu.cart">
    <button class="cart-button" [routerLink]="['protected/cart']" ><img src="assets/images/cart.png" alt="View Your Cart" class="cart"></button>
  </li>
  <li class="contact">
    <a href={{menu.contact}}>Contact Us</a>
  </li>
</ul> 