<top-menu></top-menu>
<div class="wholePage">

    <h1 class="dashboard-title">DASHBOARD</h1>

    <div class="dashboard-container">
        <div class="dashboard-button" (click)="continueShopping()">Continue Shopping</div>
        <div class="dashboard-button" (click)="myCart()">My Cart</div>
        <div class="dashboard-button" (click)="myAccount()">My Account</div>
        <div class="dashboard-button" (click)="checkout()">Checkout</div>
        <div class="dashboard-button" (click)="logout()" style="background-color: red; color: white;">Logout</div>
    </div>

</div>