.wholePage {
  background-color: #aeb9ac;
  padding: 20px; 
  min-height: 100vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
}

.dashboard-button {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 23px;
  font-weight: bold;

  &:hover {
    background-color: #cddccd;
  }
}

h1 {
  margin-left: 60px;
}