<div class="wholePage"><top-menu></top-menu>
    <h1>DASHBOARD</h1>
    <div class="dashboard-container">
        <button class="custom-button" (click)="goTo('shopping')">Continue Shopping</button><br/><br/>
        <button class="custom-button" (click)="goTo('cart')">My Cart</button><br/><br/>
        <button class="custom-button" (click)="goTo('myaccount')">My Account</button><br/><br/>
        <button class="custom-button" (click)="goTo('checkout')">Checkout</button><br/><br/>
    </div>
</div>
<div class="logout-container"><button class="custom-button" (click)="logout()">Logout</button></div>  