.logout-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .custom-button {
      background-color: #83ab93; // Choose your desired background color
      color: #25453d;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        background-color: #2c387e; // Choose a darker shade for hover effect
      }
    }
  }
  