.wholePage {
  background-color: #aeb9ac;

  h1 {
    color: #25453d;
    caret-color: #25453d;
    width: 100%;
    margin-left: 60px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .custom-button {
      background-color: #5c746a;
      color: #eee8db;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;

      &:hover {
        background-color: #25453d;
      }
    }
  }
}

.logout-container {
  text-align: center;

  .custom-button {
    background-color: #5c746a;
    color: #eee8db;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
      background-color: #25453d;
    }
  }
}