<top-menu></top-menu>

<div class="product-page">
    <div class="product-image">
        <img [src]="product.imageUrl" alt="{{product.name}}" class="product-img">
    </div>
    <div class="product-details">
        <h1 class="product-title">{{product.name}}</h1>
        <h3 class="product-description">Description: it is a clothing</h3>
        <h3 class="product-size">Size: 
            <select [(ngModel)]="selectedSize">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
                <option value="XXXL">XXXL</option>
            </select>
        </h3>
        <p class="product-price">{{product.price | currency}}</p>
        <h3 class="product-quantity">
            Quantity: <input type="number" min="1" [(ngModel)]="quantity">
        </h3>
        <button class="add-to-cart-btn" (click)="addToCart(product)" >Add to Cart</button>
    </div>
</div>