h1 {
    width: 100%; 
    margin-left: 60px;
    padding: 10px;
}
 
.new-arrivals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
  
.product-card {
    width: 200px;
    margin: 0;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-details {
    background-color: #f5f5f5;
    padding: 10px;
}