<top-menu></top-menu>
<div class="cart-container">
    <h2>Cart</h2>
    <div *ngFor="let item of cartItems" class="cart-item">

        <div class="item-image" >
            <img 
                [src]="'assets/images/products/' + item.name.toLowerCase().split(' ')[1] + '_' + item.name.toLowerCase().split(' ')[0] + '.png' " 
                alt="item.name" 
                style="width: 100px; height: auto; margin-right: 10px;"
            />
        </div>

        <div class="item-details">
            <span>{{ item.name }}</span>
            <span>Quantity: {{ item.quantity }}</span>
            <span>Price: ${{ item.price * item.quantity }}</span>
        </div>

        <div class="item-actions" >
            <button (click)="editItem(item)" style="margin-right: 40px;" >Edit</button>
            <button (click)="removeItem(item)">Remove</button>
        </div>

    </div>

    <div class="total">
        <span>Total Price: ${{ calculateTotalPrice() }}</span>
    </div>
</div>