.register-container {
  display: flex;
  justify-content: center;
  margin: 100px 0px;

  a {
    margin-bottom: 16px;
  }

  .custom-card {
    max-width: 600px;

    .card-title, .card-content {
      display: flex;
      justify-content: center;

      form {
        .form-field {
          width: 100%;
          min-width: 300px;
          margin-bottom: 16px;

          input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
          }

          .error {
            padding: 8px;
            color: white;
            background-color: red;
            margin-top: 4px;
          }
        }

        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}